﻿@model onesignal.Models.CreateNotificationModel

<form asp-action="CreateNotification" asp-controller="Notification" method="post">
    <div>
        <input id="title" asp-for="Title" />
        <label for="title" class="form-check-label">Title</label>
    </div>
    <div>
        <input id="content" asp-for="Content"/>
        <label for="content">Content</label>
    </div>
    <input class="btn btn-success" type="submit" value="Submit"/>
</form>
